<table class="table" style="    width: 98%;">
    <thead style="background: #3c8dbc;
    color: #f8f9fa;">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col" style="min-width: 9em;">Actions</th>
      </tr>
    </thead>
    <tbody style="background: #edeff2;">
      <tr *ngFor = 'let order of orders'>
        <!-- <app-product [product] ='product'></app-product> -->
        <th scope="row">{{order.customerName}}</th>
        <td>{{order.productName}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
        <td>
            <!-- (click)="open(content, product) -->
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content,order)">Set Special Offer</button>
  
        </td>
      </tr>
    </tbody>
  </table>
  

  <ng-template #content let-modal>
    <div class="modal-header pop-header">
      <h4 class="modal-title">Enter New Price </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>New Price</mat-label>
          <input matInput class="example-right-align" placeholder="0" #price>
          <span matPrefix>$&nbsp;</span>
          <!-- <span matSuffix>.00</span>  -->
        </mat-form-field>
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" style="background: #3c8dbc;" (click)="setSpecialOffer(price.value)">Save</button>
      <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>  -->
    </div>
  </ng-template> 