
<div class="container" style="padding-left: 0px;
margin-bottom: 3em;
">
  <div class="form-inline mb-3 row" autocomplete="off">
 <div class=" col-md-2">
  <button type="button " class="btn btn-primary" (click)="newProduct()">New Product</button>
 </div>
    
    <div class="form-group col-md-4">
        
           <select class="form-control ml-1" id="categoryId" aria-placeholder="Select"
                    [(ngModel)]="categoryId" name="categoryId">
                    <option value="-1" selected> Select Category</option>
              <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
            </select>         
    </div>

    <div class="col-md-3"  >

      <button class="btn btn-primary ml-1 " type="button" (click)="loadProducts()" >
        Apply 
      </button>
  
      <button class="btn  ml-1" type="button" (click)="resetFilters()" style="margin-left: 2em;background: #ecb789;">
        Clear 
      </button>
    </div>

  </div>
</div>

<table class="table" style="    width: 98%;">
  <thead style="background: #3c8dbc;
  color: #f8f9fa;">
    <tr >
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Discount</th>
      <th scope="col" style="min-width: 6em;">New Price</th>
      <th scope="col" style="min-width: 9em;">Actions</th>
    </tr>
  </thead>
  <tbody style="background: #edeff2;">
    <tr *ngFor = 'let product of products'>
      <!-- <app-product [product] ='product'></app-product> -->
      <th scope="row">{{product.name}}</th>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.discountPercentage}}</td>
      <td>{{product.newPrice}}</td>
      <td>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content, product)">Set Offer</button>

      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex" style="display: flex; justify-content: center;">
  <pagination *ngIf="pagination"
              [boundaryLinks]="true"
               [totalItems]="pagination.totalItems"
               [itemsPerPage]="5"
               [(ngModel)] = "pagination.currentPage"
               (pageChanged) = "pageChanged($event)"
              previousText="&lsaquo;"
               nextText="&rsaquo;" 
               firstText="&laquo;" 
               lastText="&raquo;">
  
  </pagination>
</div>
<ng-template #content let-modal>
  <div class="modal-header pop-header">
    <h4 class="modal-title">Enter Percentage For {{currentProduct.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" min=1 max=100 #percentage>
        <span matPrefix>%&nbsp;</span>
        <!-- <span matSuffix>.00</span> -->
      </mat-form-field>
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn " style="background: #3c8dbc;"  (click)="saveOffer(percentage.value)">Save</button>
    <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
  </div>
</ng-template>